.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  margin-top: 20px;
}
.button {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
}
